<template>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-6 ">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons" v-if="">assignment</i>
                    </div>
                    <h4 class="card-title">User Data</h4>
                    <button class="btn btn-primary float-right btn-sm" @click="showCreateView()" v-if="!showCreate
                    && $can('user_create')">CREATE USER
                    </button>
                </div>
                <div class="card-body">
                    <div class="toolbar">

                    </div>

                    <DataTable
                        @sortColumn="sortByTable"
                        @perPageEntry="paginateTable"
                        @searchItem="searchData"
                        :dt_tableHeaders="tableHeaders"
                        :dt_currentSort="tableSortBy"
                        :dt_currentSortDir="tableSortDir"
                        :dt_defaultEntries="tableDefaultEntries"
                        dt_tableClassHeaders="thead-dark"
                        :dt_Search="search"
                        dt_classTable="table table-bordered"
                        dt_TableWidth="100"
                    >
                        <template v-slot:tableData>
                            <tr v-for="(data,index) in users.data" :key="data.id" >
                                <td>{{ data.name }}</td>
                                <td>{{ getUserAge(data.birthday) }}</td>
                                <td>{{ data.created_at }}</td>
                                <td>
                                    <button class="btn btn btn-link btn-info" @click="edit(data.id)"  v-if="$can('user_edit')"><i
                                        class="material-icons">edit</i>
                                    </button>
                                    <button class="btn btn btn-link btn-danger"
                                            @click="deleteUser(data.id,index)" v-if="$can('user_delete')"><i class="material-icons">close</i>
                                    </button>
                                </td>
                            </tr>
                        </template>
                        <template v-slot:perPage v-if="users">
                            <p class="float-left">Showing {{ users.from || 0 }} to {{ users.to || 0 }} of
                                {{ users.total || 0 }} entries</p>
                        </template>
                        <template v-slot:pagination>
                            <pagination :data="users" @pagination-change-page="index" :limit="2" alight="right">
                                <span slot="prev-nav"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
                                <span slot="next-nav"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                            </pagination>
                        </template>
                    </DataTable>


                </div>
            </div>
        </div>

        <transition name="fade">
            <div class="col-md-12 col-sm-12 col-lg-6 " v-show="showCreate">
                <UserCreate @cancelCreate="closeCreate"></UserCreate>

            </div>


        </transition>


        <transition name="fade">

            <div class="col-md-12 col-sm-12 col-lg-6 " v-show="showEdit" ref="editFormRef">
                <UserEdit @cancelEdit="closeEdit"></UserEdit>
            </div>

        </transition>
    </div>


</template>

<script>
import DataTable from "../../components/ToyDataTable";
import UserCreate  from "../users/UserCreate";
import UserEdit from "../users/UserEdit";
import {mapActions, mapGetters} from "vuex";

export default {
    name: "UserTable",
    components: {DataTable, UserCreate, UserEdit},
    data() {
        return {
            showCreate: false,
            showEdit: false,
            tableHeaders: [
                {column_name: 'NAME', query_name: 'name', sortable: true, width: 60},
                {column_name: 'Age', query_name: 'birthday', sortable: false, width: 60},
                {column_name: 'Created At', query_name: 'created_at', sortable: true, width: 20},
                {column_name: 'Options', query_name: 'created_at', sortable: false, width: 20}
            ],
        }
    },

    computed: {
        ...mapGetters({
            tableDefaultEntries: ["user/perPage"],
            tableSortBy: ["user/sortBy"],
            tableSortDir: ["user/sortDir"],
            users: ["user/users"],
            search: ["user/search"],
            perPage: ["user/perPage"],
        })
    },
    created() {
        //this.$store.commit('permission/PERMISSION_SEARCH', '');
        this.index();
        this.removeQuerySelector();
    },
    methods: {
        ...mapActions({
            getUser: "user/fetchUsersForDatatable",
            editUser: "user/getUser"
        }),
        removeQuerySelector(){
            document.querySelector('body')
                .style =
                '    background-image: none !important;\n'
            ;
        },
        deleteUser(e, index) {
            this.$swal({
                title: 'Are you sure to delete this user?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.value) {
                    let uri = `/api/users/${e}`;
                    axios.delete(uri).then(response => {
                        this.$swal(
                            'Deleted!',
                            'Your file has been deleted.',
                            'success'
                        );
                        this.users.data.splice(index, 1);
                    });
                }
            })
        },
        getUserAge(birthDate){
            return Math.floor((new Date() - new Date(birthDate).getTime()) / 3.15576e+10)
        },
        async showCreateView() {
            this.showCreate = true;
            this.showEdit = false;
            await this.$store.commit('user/USER_CLEAR')
        },

        async closeCreate(value) {
            this.showCreate = value;
            this.showEdit = false;
            await this.$store.commit('user/USER_CLEAR')
        },
        async closeEdit() {
            this.showCreate = false;
            this.showEdit = false;
            await this.$store.commit('user/USER_CLEAR')
        },
        async edit(id) {
            this.showEdit = true;
            this.showCreate = false;
            await this.$store.commit('user/USER_CLEAR')
            await this.$store.commit('user/USER_ID', id);
            await this.editUser();

        },
        async sortByTable(value) {
            await this.$store.commit('user/USER_SORTBY', value.sortBy);
            await this.$store.commit('user/USER_SORTDIR', value.sortDir);
            await this.index();

        },
        async paginateTable(value) {
            await this.$store.commit('user/USER_PERPAGE', value);
            await this.index();

        },
        async searchData(value) {
            await this.$store.commit('user/USER_SEARCH', value);
            await this.index();

        },
        async index(page) {
            if (typeof page === 'undefined') {
                await this.$store.commit('user/USER_PAGE', 1);
            }

            await this.$store.commit('user/USER_PAGE', page);
            await this.getUser();
        },
    }
}
</script>

<style scoped>

</style>
