<template>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-6 ">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons" v-if="">assignment</i>
                    </div>
                    <h4 class="card-title">Role Data</h4>
                    <button class="btn btn-primary float-right btn-sm" @click="showCreateView()" v-if="!showCreate
                    && $can('role_create')">CREATE ROLE
                    </button>
                </div>
                <div class="card-body">
                    <div class="toolbar">

                    </div>

                    <DataTable
                        @sortColumn="sortByTable"
                        @perPageEntry="paginateTable"
                        @searchItem="searchData"
                        :dt_tableHeaders="tableHeaders"
                        :dt_currentSort="tableSortBy"
                        :dt_currentSortDir="tableSortDir"
                        :dt_defaultEntries="tableDefaultEntries"
                        dt_tableClassHeaders="thead-dark"
                        :dt_Search="search"
                        dt_classTable="table table-bordered"
                        dt_TableWidth="100"
                    >
                        <template v-slot:tableData>
                            <tr v-for="(data,index) in roles.data" :key="data.id" v-if="data.name !=='super_administrator'" >
                                <td>{{ data.name }}</td>

                                <td><span class="badge badge-pill badge-primary" v-for="permission in data.permissions">{{ permission.name }}</span>
                                </td>
                                <td>{{ data.created_at }}</td>
                                <td>
                                    <button class="btn btn btn-link btn-info" @click="edit(data.id)"  v-if="$can('role_edit')"><i
                                        class="material-icons">edit</i>
                                    </button>
                                    <button class="btn btn btn-link btn-danger"  v-if="$can('role_delete')"
                                            @click="deleteRole(data.id,index)"><i class="material-icons">close</i>
                                    </button>
                                </td>
                            </tr>
                        </template>
                        <template v-slot:perPage v-if="roles">
                            <p class="float-left">Showing {{ roles.from || 0 }} to {{ roles.to || 0 }} of
                                {{ roles.total || 0 }} entries</p>
                        </template>
                        <template v-slot:pagination>
                            <pagination :data="roles" @pagination-change-page="index" :limit="2" alight="right">
                                <span slot="prev-nav"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
                                <span slot="next-nav"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                            </pagination>
                        </template>
                    </DataTable>


                </div>
            </div>
        </div>

        <transition name="fade">
            <div class="col-md-12 col-sm-12 col-lg-6 " v-show="showCreate">
                <RoleCreate @cancelCreate="closeCreate"></RoleCreate>

            </div>


        </transition>


        <transition name="fade">

            <div class="col-md-12 col-sm-12 col-lg-6 " v-show="showEdit">
                <RoleEdit @cancelEdit="closeEdit"></RoleEdit>
            </div>

        </transition>
    </div>


</template>

<script>
import DataTable from "../../components/ToyDataTable";
import RoleCreate from "../roles/RoleCreate";
import RoleEdit from "../roles/RoleEdit";
import {mapActions, mapGetters} from "vuex";

export default {
    name: "RoleTable",
    components: {DataTable, RoleCreate, RoleEdit},
    data() {
        return {
            showCreate: false,
            showEdit: false,
            tableHeaders: [
                {column_name: 'NAME', query_name: 'name'},
                {column_name: 'PERMISSIONS'},
                {column_name: 'Created At', query_name: 'created_at', sortable: true,},
                {column_name: 'Options', query_name: 'created_at'}
            ],
        }
    },

    computed: {
        ...mapGetters({
            tableDefaultEntries: ["role/perPage"],
            tableSortBy: ["role/sortBy"],
            tableSortDir: ["role/sortDir"],
            roles: ["role/roles"],
            search: ["role/search"],
            perPage: ["role/perPage"],
        })
    },
    created() {
        //this.$store.commit('permission/PERMISSION_SEARCH', '');
        this.index();
        this.removeQuerySelector();
    },
    methods: {
        ...mapActions({
            getRole: "role/fetchRoleForDatatable",
            editRole: "role/getRole"
        }),
        removeQuerySelector(){
            document.querySelector('body')
                .style =
                '    background-image: none !important;\n'
            ;
        },
        deleteRole(e, index) {
            this.$swal({
                title: 'Are you sure to delete this role?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.value) {
                    let uri = `/api/roles/${e}`;
                    axios.delete(uri).then(response => {
                        this.$swal(
                            'Deleted!',
                            'Role has been deleted.',
                            'success'
                        );
                        this.roles.data.splice(index, 1);
                    });
                }
            })
        },
        async showCreateView() {
            this.showCreate = true;
            this.showEdit = false;
            await this.$store.commit('role/ROLE_CLEAR')
        },

        async closeCreate(value) {
            this.showCreate = value;
            this.showEdit = false;
            await this.$store.commit('role/ROLE_CLEAR')
        },
        async closeEdit() {
            this.showCreate = false;
            this.showEdit = false;
            await this.$store.commit('role/ROLE_CLEAR')
        },
        async edit(id) {
            this.showEdit = true;
            this.showCreate = false;
            await this.$store.commit('role/ROLE_CLEAR')
            await this.$store.commit('role/ROLE_ID', id);
            await this.editRole();

        },
        async sortByTable(value) {
            await this.$store.commit('role/ROLE_SORTBY', value.sortBy);
            await this.$store.commit('role/ROLE_SORTDIR', value.sortDir);
            await this.index();

        },
        async paginateTable(value) {
            await this.$store.commit('role/ROLE_PERPAGE', value);
            await this.index();

        },
        async searchData(value) {
            await this.$store.commit('role/ROLE_SEARCH', value);
            await this.index();

        },
        async index(page) {
            if (typeof page === 'undefined') {
                await this.$store.commit('role/ROLE_PAGE', 1);
            }

            await this.$store.commit('role/ROLE_PAGE', page);
            await this.getRole();
        },
    }
}
</script>

<style scoped>

</style>
