<template>
    <div>
        <div class="card">
            <div class="card-header card-header-primary card-header-icon">
                <h4 class="card-title">Create</h4>
            </div>
            <form class="form-horizontal" v-promise-btn="{action: 'submit'}" v-on:submit.prevent="submitRole"
                  @keydown="role.onKeydown($event)">
                <div class="card-body">
                    <RoleForm :form="role"></RoleForm>
                </div>
                <div class="card-footer ">
                    <button type="submit" class="btn btn-fill btn-success">Submit</button>
                    <button type="button" class="btn btn-fill btn-danger" @click="cancelCreate">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import {Form, HasError, AlertError, AlertSuccess} from 'vform';
    import { mapActions, mapGetters } from "vuex";
    import RoleForm from './_Form'
    export default {
        name: "RoleCreate",
        components: {HasError, AlertError, AlertSuccess,RoleForm},
        computed: {
            ...mapGetters({
                role: ["role/role"],
            }),
        },
        methods: {
            ...mapActions({ createRole: "role/createRole",
                getRole:"role/fetchRoleForDatatable"}),
            cancelCreate(){
                this.$emit("cancelCreate", false);
            },
            async submitRole() {

                try{
                    await this.$store.commit('role/ROLE_CREATE',this.role);
                    await this.createRole();
                    await this.getRole();
                    this.$swal({
                        icon: 'success',
                        title: 'New Role created',
                        showConfirmButton: false,
                        timer: 1500
                    });
                    //this.form.name = null;

                }catch(e){
                    console.log(e);
                }


            }
        }
    }
</script>

<style scoped>

</style>
