<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <div class="alert alert-primary" role="alert">
                    <h3><i class="material-icons">category</i> Common</h3>
                </div>
                <draggable class="list-group" :list="common" group="people" @change="log">
                    <div
                        class="list-group-item"
                        v-for="(element, index) in common"
                        :key="element.name"
                    >
                        <div class="row">
                            <div class="col-sm-1">
                                <i class="material-icons">category</i>
                            </div>
                            <div class="col-sm-4">
                                <p>  {{ element.name }} </p>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-1">
                            </div>
                            <div class="col-sm-11">
                                <img v-bind:src="'/images/' + element.img" />
                            </div>
                        </div>
                    </div>
                </draggable>
            </div>

            <div class="col-4">
                <div class="alert alert-primary" role="alert">
                    <h3><i class="material-icons">category</i> India</h3>
                </div>
                <draggable class="list-group" :list="india" group="people" @change="log">
                    <div
                        class="list-group-item"
                        v-for="(element, index) in india"
                        :key="element.name"
                    >
                        <div class="row">
                            <div class="col-sm-1">
                                <i class="material-icons">category</i>
                            </div>
                            <div class="col-sm-4">
                                <p>  {{ element.name }} </p>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-1">
                            </div>
                            <div class="col-sm-11">
                                <img v-bind:src="'/images/' + element.img" />
                            </div>
                        </div>
                    </div>
                </draggable>
            </div>

            <div class="col-4">
                <div class="alert alert-primary" role="alert">
                    <h3><i class="material-icons">category</i> Philippines</h3>
                </div>
                <draggable class="list-group" :list="ph" group="people" @change="log">
                    <div
                        class="list-group-item"
                        v-for="(element, index) in ph"
                        :key="element.name"
                    >
                        <div class="row">
                            <div class="col-sm-1">
                                <i class="material-icons">category</i>
                            </div>
                            <div class="col-sm-4">
                                <p>  {{ element.name }} </p>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-1">
                            </div>
                            <div class="col-sm-11">
                                <img v-bind:src="'/images/' + element.img" />
                            </div>
                        </div>
                    </div>
                </draggable>
            </div>
        </div>

    </div>
</template>

<script>
import {mapGetters} from "vuex";
import draggable from 'vuedraggable';
export default {
    name: "Home",
    components: {
        draggable,
    },
    data() {
        return {
            common: [
                // { name: "Juan", id: 5 },
                // { name: "Edgard", id: 6 },
                // { name: "Johnson", id: 7 }

                { name: "Himachal", id: 1, img: "bg2.jpg" },
                { name: "Gujrat", id: 2, img: "bg3.jpg" },
                { name: "Manila", id: 3, img: "bg4.jpg" },
                { name: "Cebu", id: 4, img: "city-profile.jpg" }
            ],
            india: [
                // { name: "John", id: 1, img: "bg2.jpg" },
                // { name: "Joao", id: 2, img: "bg3.jpg" },
                // { name: "Jean", id: 3, img: "bg4.jpg" },
                // { name: "Gerard", id: 4, img: "city-profile.jpg" }

                // { name: "Juan", id: 5 },
                // { name: "Edgard", id: 6 },
                // { name: "Johnson", id: 7 }
            ],
            ph: [
                // { name: "John", id: 1, img: "bg2.jpg" },
                // { name: "Joao", id: 2, img: "bg3.jpg" },
                // { name: "Jean", id: 3, img: "bg4.jpg" },
                // { name: "Gerard", id: 4, img: "city-profile.jpg" }

                // { name: "Juan", id: 5 },
                // { name: "Edgard", id: 6 },
                // { name: "Johnson", id: 7 }
            ]
        };
    },
    computed: {
        ...mapGetters({
            isLogin: ["auth/check"],
            user: ["auth/user"],
        })
    },
    watch:{
        "india": {
            deep: true,
            handler: function (n, o) {
                console.log('INDIA',n, o);
                let whitelist_city = ['Himachal','Gujrat'];
                let vm = this;
                n.map(function(ph,index) {
                    // console.log(ph.name,index);
                    // console.log(whitelist_city.includes(ph.name));
                    if(!whitelist_city.includes(ph.name)){
                        vm.errorCity(ph.name);
                        vm.common.push({
                            'id': ph.id,
                            'img': ph.img,
                            'name': ph.name
                        });
                        vm.india.splice(index,1);
                    }
                });
            }
        },
        "ph": {
            deep: true,
            handler: function (n, o) {
                // console.log('PH',n, o);
                let whitelist_city = ['Manila','Cebu'];
                let vm = this;
                n.map(function(ph,index) {
                    // console.log(ph.name,index);
                    // console.log(whitelist_city.includes(ph.name));
                    if(!whitelist_city.includes(ph.name)){
                        vm.errorCity(ph.name);
                        vm.common.push({
                            'id': ph.id,
                            'img': ph.img,
                            'name': ph.name
                        });
                        vm.ph.splice(index,1);
                    }
                });
            }
        },
    },
    created() {
        this.removeQuerySelector();
    },
    methods: {
        add: function() {
            this.list.push({ name: "Juan" });
        },
        replace: function() {
            this.list = [{ name: "Edgard" }];
        },
        clone: function(el) {
            return {
                name: el.name + " cloned"
            };
        },
        log: function(evt) {
            window.console.log(evt);
        },
        errorCity(city){
          return this.$swal({
                icon: 'error',
                title: `The ${city} city is now allowed`,
                showConfirmButton: false,
                timer: 2500
            });
        },
        removeQuerySelector(){
            document.querySelector('body')
                .style =
                '    background-image: none !important;\n'
            ;

        },
    }
}
</script>

<style scoped>
.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
}
img {
    max-width: 100%;
    border-radius: 15px;
    box-shadow: 6px 6px 5px #ccc;
}
.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem 1.5rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}
.alert.alert-primary i {
    color: #fff;
}
</style>
