<template>
    <div class="register-form">
        <form v-promise-btn="{action: 'submit'}" v-on:submit.prevent="register" @keydown="user.onKeydown($event)">
            <h2 class="text-center">Register</h2>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Name" v-model="user.name"
                       :class="{ 'is-invalid': user.errors.has('name') }">
                <has-error :form="user" field="name"></has-error>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Username" v-model="user.username"
                       :class="{ 'is-invalid': user.errors.has('username') }">
                <has-error :form="user" field="username"></has-error>
            </div>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" v-model="user.email"
                       :class="{ 'is-invalid': user.errors.has('email') }">
                <has-error :form="user" field="email"></has-error>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" v-model="user.password"
                       :class="{ 'is-invalid': user.errors.has('password') }">
                <has-error :form="user" field="password"></has-error>
            </div>
            <div class="form-group">
                <input type="password" class="form-control"
                       placeholder="Confirm Password"
                       :class="{ 'is-invalid': user.errors.has('password_confirmation') }"
                       v-model="user.password_confirmation">
                <has-error :form="user" field="password_confirmation"></has-error>
            </div>
            <div class="form-group col-md-6 ml-auto mr-auto">
                <button type="submit" class="btn btn-primary btn-block" :disabled="user.busy">{{ btnText }}
                </button>
            </div>
        </form>
    </div>
</template>
<script>
import {Form, HasError, AlertError, AlertSuccess} from 'vform';
import {mapGetters, mapActions} from "vuex";

export default {
    name: "Register",
    components: {HasError, AlertError, AlertSuccess},
    data() {
        return {
            form: new Form({
                name: null,
                email: null,
                password: null,
            }),
            btnText: 'Register',
            disabled: false,
            loading: false,
        }
    },
    computed: {
        ...mapGetters({
            user: ["register/user"],
        }),
    },
    created() {
        document.querySelector('body')
            .style =
            '    background-image: url(\'/images/bg4.jpg\') !important;\n' +
            '    background-size: cover;\n' +
            '    justify-content: center;\n' +
            '    align-items: center;\n' +
            '    flex-direction: column;\n' +
            '    font-family: \'Montserrat\', sans-serif;\n' +
            '    height: 100vh;' +
            '    overflow-y: hidden;' +
            '    overflow-x: hidden;' +
            '    background-color: rgba(0, 0, 0, 0.5);'

        ;
    },
    methods: {
        ...mapActions({createUser: "register/createUser"}),
        async register() {
            try {
                // Submit the form.
                // First get csrf-token with airlock
                this.btnText = 'Loading...';
                axios.get('/sanctum/csrf-cookie').then(async response => {

                    const {data} = await this.user.post('/register');
                    // Rest form
                    await this.$store.commit('register/REGISTER_USER_CLEAR');
                    // Save the token.
                    await this.$store.dispatch('auth/setLogin');
                    // Fetch the user.
                    await this.$store.dispatch('auth/fetchUser');

                    await this.$store.dispatch('auth/fetchAbilities');
                    // Redirect home.
                    // this.$swal({
                    //     icon: 'success',
                    //     title: 'New User created',
                    //     showConfirmButton: false,
                    //     timer: 1500
                    // });

                    this.$router.push(this.$route.query.redirect || '/');
                    this.btnText = 'Register';
                }).catch((err) => {
                    this.btnText = 'Register';
                });
            } catch (e) {
                console.log(e);
            }
        }
    }
}
</script>
<style scoped>
.register-form {
    width: 680px;
    margin: 100px auto;
    font-size: 15px;
}

.register-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.register-form h2 {
    margin: 0 0 15px;
}

.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}

.btn {
    font-size: 15px;
    font-weight: bold;
}

</style>
